# Virtual environment
venv/

# Python cache
__pycache__/
*.pyc
*.pyo

# Model files
models/*.pkl

# Environment variables
.env

# VS Code settings
.vscode/

# OS files
Thumbs.db
.DS_Store

# Uploaded data
data/uploads/